@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html,
body {
    background-color: rgb(24, 24, 24);
}

h2 {
    font-weight: 850;
    background: -webkit-linear-gradient(right, #ff176c, #ff9e30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wave,
#type {
    background: -webkit-linear-gradient(right, #ff176c, #ff9e30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h3 {
    font-weight: 400;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.navbar {
    z-index: 2;
    top: 0px;
    position: fixed;
    width: 100%;
}

.container {
    padding: 30px;
    background-color: #343a40;
    color: white;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #ff9e30 0%,
            #ff176c 29%,
            #ff176c 67%,
            #ff9e30 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.3s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


.waviy-box {
    background-color: #343a40;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 40px;
}

.waviy .wave {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

img {
    filter: drop-shadow(6px 6px 15px black);
    border-radius: 50%;
}

h5 {
    font-size: 130%;
    font-weight: 300;
}


@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.Active {
    --size: 100px;
    --fg: orange;
    --bg: rgb(24, 24, 24);
    --pgPercentage: var(--value);
    animation: growProgressBar 3s forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, black 94%, transparent 0 99.9%, black 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}

.Active::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

footer {
    background-color: rgb(26, 26, 26);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-box {
    padding-left: 8%;
}

.project-title {
    background: -webkit-linear-gradient(right, #ff176c, #ff9e30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120%;
    font-weight: 750;
}

.left-project, .left {
    padding-right: 10px;
    width: 50%;
    float: left;
}

.right-project, .right {
    padding-left: 10px;
    width: 50%;
    float: right;
}

a {
    text-decoration: none;
    color: #ff9e30;
}

.portfolio-numbers, .weather-numbers{
    font-size: 300%;
    font-weight: 800;
}
@property --num {
    syntax: "<integer>";
    initial-value: 1392;
    inherits: false;
}

.active-num{
    animation: counter 3s ease-in-out;
  counter-reset: num var(--num);
}

.active-num::after {
    content: counter(num);
  }

  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 1392;
    }
  }

  
@property --num2 {
    syntax: "<integer>";
    initial-value: 1349;
    inherits: false;
}

.active-num2{
    animation: count 3s ease-in-out;
  counter-reset: num2 var(--num2);
}

.active-num2::after {
    content: counter(num2);
  }

  @keyframes count {
    from {
      --num2: 0;
    }
    to {
      --num2: 1349;
    }
  }

@property --num3 {
    syntax: "<integer>";
    initial-value: 426;
    inherits: false;
}

.active-num3{
    animation: count2 3s ease-in-out;
  counter-reset: num3 var(--num3);
}

.active-num3::after {
    content: counter(num3);
  }

  @keyframes count2 {
    from {
      --num3: 0;
    }
    to {
      --num3: 426;
    }
  }

  .contact-link{
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
  }

  .btn{
    color:white;
    border: 1px solid white;
  }

@media (max-width : 600px) {

    .home-intro,
    .about-intro {
        text-align: center;
    }

    h1,
    h2,
    h3 {
        font-size: 120%;
    }

    span {
        font-size: 55%;
    }
}


@media all and (min-width:960px) and (max-width: 1024px) {

    /* put your css styles in here */
    .Active {
        margin: 0 auto;
    }

    h5 {
        text-align: center;
    }
}

@media all and (min-width:801px) and (max-width: 959px) {

    /* put your css styles in here */
    .Active {
        margin: 0 auto;
    }

    h5 {
        text-align: center;
    }
}

@media all and (min-width:769px) and (max-width: 800px) {

    /* put your css styles in here */
    .Active {
        margin: 0 auto;
    }

    h5 {
        text-align: center;
    }
}

@media all and (min-width:569px) and (max-width: 768px) {

    /* put your css styles in here */
    .Active {
        margin: 0 auto;
    }

    h5 {
        text-align: center;
    }
}

@media all and (min-width:481px) and (max-width: 568px) {

    /* put your css styles in here */
    .Active {
        margin: 0 auto;
    }

    h5 {
        text-align: center;
    }
}

@media all and (min-width:321px) and (max-width: 480px) {

    /* put your css styles in here */
    .Active {
        margin: 0 auto;
    }

    h5 {
        text-align: center;
    }
}

@media all and (min-width:0px) and (max-width: 320px) {

    /* put your css styles in here */
    .Active {
        margin: 0 auto;
    }

    h5 {
        text-align: center;
    }
}