<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="https://harsh-shah-jaiswal.herokuapp.com/" property="og:url">
    <meta rel="canonical" href="https://harsh-shah-jaiswal.herokuapp.com/">
    <meta content="HarshShahJaiswal" property="og:title">
    <meta
        content="Harsh shah jaiswal welcome you in his portfolio. I'm a full stack web developer and a cse student of VIT(Vellore Institute of Technology)."
        name="og:description">
    <meta
        content="Harsh shah jaiswal, Harsh Jaiswal, Harsh shah, Harsh, Harsh VIT, Web developer, Harsh-shah-jaiswal, Harsh Shah Jaiswal herokuapp"
        , name="keywords">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Harsh Shah Jaiswal - Portfolio</title>
    <meta
        content="Harsh shah jaiswal welcome you in his portfolio. I'm a full stack web developer and a cse student of VIT(Vellore Institute of Technology)."
        name="description">
    <meta name="google-site-verification" content="2AvikkoFEqDkT_-XOFu9z_aGrDBhMgyhc2M0ByAYljA" />
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="fav.png" type="image/x-icon">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <h1 class="mx-5 animate-charcter">HARSH SHAH JAISWAL</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <h5 style="font-size:110%;">Home</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-me">
                        <h5 style="font-size:110%;">About Me</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">
                        <h5 style="font-size:110%;">Skills</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">
                        <h5 style="font-size:110%;">Projects</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        <h5 style="font-size:110%;">Contact</h5>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br>
    <main>
        <div class="home-intro">
            <div class="container my-5">
                <div class="form-row">
                    <div class="col-md-10">
                        <h3>Hello, I'm</h3>
                        <div class="waviy">
                            <span class="wave" style="--i:1">H</span>
                            <span class="wave" style="--i:2">A</span>
                            <span class="wave" style="--i:3">R</span>
                            <span class="wave" style="--i:4">S</span>
                            <span class="wave" style="--i:5">H</span>
                            <span class="wave" style="--i:6">&nbsp;&nbsp;</span>
                            <span class="wave" style="--i:7">S</span>
                            <span class="wave" style="--i:8">H</span>
                            <span class="wave" style="--i:9">A</span>
                            <span class="wave" style="--i:10">H</span>
                            <span class="wave" style="--i:11">&nbsp;&nbsp;</span>
                            <span class="wave" style="--i:12">J</span>
                            <span class="wave" style="--i:13">A</span>
                            <span class="wave" style="--i:14">I</span>
                            <span class="wave" style="--i:15">S</span>
                            <span class="wave" style="--i:16">W</span>
                            <span class="wave" style="--i:17">A</span>
                            <span class="wave" style="--i:18">L</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="intro-img"><img src="mypic.jpg" alt="" height="150px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="about-me">
            <br>
        </div>
        <div id="about-intro">
            <div class="container my-5">
                <h2><span class="heading">About Me</span></h2>
                <h4>Hi, I'm <span id="type">Full-Stack Web Developer</span> of VIT BHOPAL University. </h4>
                <h5>I've completed my Full-Stack Web Development and have been certified in the Server-Side Development
                    by the Hong Kong Institute of Technology course offered through Coursera. In past, I've worked in
                    many Hackathons and created many projects.</h5>
                <h5>I also have knowledge about Python, C++ and Java. Currently, I've started learning Machine Learning.
                </h5>
                <button class="about-btn"><a href="certificate" style="color:black;">Get My
                        Certificates</a></button>
                <button class="about-btn"><a href="harsh_resume.pdf" style="color:black;">Get My
                        Resume</a></button>
            </div>
        </div>
        <div id="skills">
            <br>
        </div>

        <div id="skill-intro">
            <div class="container my-5">
                <h2><span class="heading">Skills</span></h2><br>
                <div class="form-row skill-box">
                    <div class="col-md-3">
                        <div class="reveal Active" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                            style="--value:85">
                        </div><br>
                        <h5>HTML5/CSS</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="reveal Active" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                            style="--value:75">
                        </div><br>
                        <h5>JavaScript</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="reveal Active" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="--value:70">
                        </div><br>
                        <h5>NodeJS</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="reveal Active" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="--value:70">
                        </div><br>
                        <h5>ExpressJS</h5>
                    </div>
                </div><br><br>
                <div class="form-row skill-box">
                    <div class="col-md-3">
                        <div class="reveal Active" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="--value:70">
                        </div><br>
                        <h5>MongoDB</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="reveal Active" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="--value:70">
                        </div>
                        <br>
                        <h5>Python</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="reveal Active" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                            style="--value:60">
                        </div><br>
                        <h5>CPP</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="reveal Active" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                            style="--value:50">
                        </div><br>
                        <h5>Java</h5>
                    </div>
                </div>
            </div>
        </div>
        <div id="projects">
            <br>
        </div>
        <div class="project-intro">
            <div class="container my-5">
                <h2><span class="heading">Projects</span></h2>

                <div class="container-lg my-3">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h4>
                                    <span class="project-title">Portfolio 1</span>
                                </h4>
                                <div class="left-project">
                                    <h5>Portfolio 1 is my first portfolio where you can easily contact me and see my
                                        skills.</h5>
                                    <div><span class="portfolio-numbers active-num"></span><span class="code-line">
                                            Lines of code</span></div>
                                    <br>
                                    <h4><a href="https://github.com/harshjaiswal556/PersonalBlog">Source Code</a></h4>
                                </div>
                                <div class="right-project">
                                    <h4 style="font-weight: 800;">Tech Used</h4>
                                    <h5>
                                        <li><strong>Front-End : </strong>HTML5, CSS, JS</li>
                                        <li><strong>Back-End : </strong>NodeJS, ExpressJS</li>
                                        <li><strong>DataBase : </strong>MongoDB</li>
                                    </h5>
                                    <br><br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h4>
                                    <span class="project-title">Weather API</span>
                                </h4>

                                <div class="left-project">
                                    <h5>Weather-API is a website which generally used to display weather of city using
                                        the API. This website also includes the light and dark theme.</h5>
                                    <div><span class="weather-numbers active-num2"></span><span class="code-line">
                                            Lines of code</span></div>
                                    <br>
                                    <h4><a href="https://github.com/harshjaiswal556/Weather-App-Heroku">Source Code</a>
                                    </h4>
                                </div>
                                <div class="right-project">
                                    <h4 style="font-weight: 800;">Tech Used</h4>
                                    <h5>
                                        <li><strong>Front-End : </strong>HTML5, CSS, JS</li>
                                        <li><strong>Back-End : </strong>NodeJS, ExpressJS, openweatherapi</li>
                                    </h5>
                                    <br><br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h4>
                                    <span class="project-title">URL Saver</span>
                                </h4>
                                <div class="left-project">
                                    <h5>URL-Saver is a website which is used to save the URL of any website same as
                                        google bookmark. Difference between them is that user can access these URL from
                                        any device from anywhere without sign in to G-Mail or google but in google
                                        bookmark its not possible.</h5>
                                    <div><span class="weather-numbers active-num3"></span><span class="code-line">
                                            Lines of code</span></div>
                                    <br>
                                    <h4><a href="https://github.com/harshjaiswal556/URL-Saver">Source Code</a></h4>
                                </div>
                                <div class="right-project">
                                    <h4 style="font-weight: 800;">Tech Used</h4>
                                    <h5>
                                        <li><strong>Front-End : </strong>HTML5, CSS, JS</li>
                                        <li><strong>Back-End : </strong>NodeJS, ExpressJS</li>
                                        <li><strong>DataBase : </strong>MongoDB</li>
                                    </h5>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact">
            <br>
        </div>
        <div id="contact-intro">
            <div class="container my-5">
                <h2><span class="heading">Contact Me</span></h2>
                <div class="container-lg my-3">

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="left">
                                <li style="list-style: none;" class="contact-link"><a
                                        href="https://www.instagram.com/harsh_jaiswal.3110/" target="_blank"><img
                                            src="insta.png" height="40px" alt=""></a></li>
                                <li style="list-style: none;" class="contact-link"><a
                                        href="https://github.com/harshjaiswal556" target="_blank"><img src="github.png"
                                            height="40px" alt=""></a></li>
                                <li style="list-style: none;" class="contact-link"><a
                                        href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#drafts?compose=CllgCJlLXFGfFVMKDpDRFVVpLRXVVFvkbQfTCTHgDdVMmnTmkbHPPJVvthsWLddVBtMbnVgMzvq"
                                        target="_blank"><img src="email.png" height="40px" alt=""></a></li>
                                <li style="list-style: none;" class="contact-link"><a
                                        href="https://twitter.com/harshjais556" target="_blank"><img src="twitter.png"
                                            height="40px" alt=""></a></li>
                            </div>

                            <div class="right">
                                <form method="post" action="/index">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="First name"
                                                name="fname">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Last name"
                                                name="lname">
                                        </div>
                                        <br><br><br>
                                        <div class="col-md-12">
                                            <input type="email" class="form-control" placeholder="Email" name="email">
                                        </div>
                                        <br><br><br>
                                        <div class="col-md-12">
                                            <textarea name="message"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Created with ❤️ by Harsh Shah Jaiswal</p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</body>
<script>
    let first = "B.Tech. CSE Student";
    document.getElementById("type").style.fontWeight = "650";
    var typed = new Typed('#type', {
        strings: ['', first.fontcolor("white")],
        typeSpeed: 100,
        backSpeed: 80,
        loop: true
    });
    function reveal() {
        var reveals = document.querySelectorAll(".reveal");
        var portfolio_numbers = document.querySelectorAll(".portfolio-numbers");


        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;
            if (elementTop - 100 < windowHeight - elementVisible) {
                reveals[i].classList.add("Active");
            } else {
                reveals[i].classList.remove("Active");
            }
        }

    }

    window.addEventListener("scroll", reveal);
</script>

</html>